<div id="<%= dom_id comment %>" class="card mt-2">

<div class="card-body">

  <h5 class="card-title">
    <%= link_to comment.user.first_name + " " + comment.user.last_name, profile_path(comment.user), style:"text-decoration:none;color:black;"%>
  </h5>

  <p>
    <%= comment.content %>
  </p>

  <p class="text-muted">
    Posted <%= time_ago_in_words comment.created_at %> ago
  </p>

</div>



</div>
