

<div class="card" id="<%= dom_id product %>">
  <div class="d-flex justify-content-center">
      <%= image_tag product.image, class:"w-50" %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= product.title %></h5>
    <p class="card-text"><%= product.content %></p>
  </div>
</div>