<h1>New product</h1>

<%= render "form", product: @product %>

<br>

<div>
  <%= link_to "Back to products", products_path %>
</div>

<script>
    document.getElementById("nav_new_listing").classList.add("active")
</script>
