<div class="my-3">
  <% active = @user.rentals.where(status: :active) %>
  <h4><%= pluralize(active.count, 'active rental') %></h4>
  <% if active.count > 1 %>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4" id="active-rentals">
    <% active.reverse_each do |rental| %>

      <%= render rental %>

      <% end %>
    </div>
  <% end %>

</div>

<div class="my-3">
  <% done = @user.rentals.where(status: :done) %>
  <% if done.count > 0 %>
    <h4><%= pluralize(done.count, 'finished rental') %></h4>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4" id="done-rentals">
      <% done.reverse_each do |rental| %>
        <%= render rental %>
      <% end %>
    </div>


  <% end %>

</div>

<% if current_user == @user %>
  <script type="text/javascript" charset="utf-8">
      document.getElementById("nav_my_rentals").classList.add("active")
  </script>
<% end %>